.Newsletter{
    padding: 100px 0;
    position: relative;
    @media (max-width: 420px){
        padding: 100px 0 0 0;
    }
    &__container{
        @media (max-width: 420px) {
            padding: 0;
        }
    }
    &__content{
        max-width: 784px;
        width: 100%;
        margin: 0 auto;
        background: #274B90;
        border-radius: 16px;
        padding: 36px 2%;
        h3{
            max-width: 410px;
            width: 100%;
            margin: 0 auto;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 130%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 36px;
        }
        @media (max-width: 420px) {
            padding: 36px 20px;
            border-radius: 0;
        }
    }
    &__form{
        background: #FFFFFF;
        border-radius: 8px;
        padding: 10px 24px;
        max-width: 452px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 420px) {
            flex-direction: column;
            background-color: inherit;
        }
    }
    &__input{
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #8593A7;
        width: 100%;

        @media (max-width: 420px) {
            padding: 13px 12px;
            width: 100%;
            border: 1px solid #C7D6E3;
            border-radius: 8px;
            margin-bottom: 16px;
        }
    }
    &__button{
        background: #305DB4;
        border-radius: 8px;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        @media (max-width: 420px) {
            width: 100%;
            background: #E1EBFF !important;
            border-radius: 8px !important;
            color: #274B90 !important;
        }
    }
}