.Project{
    &__container{
        h2{
            text-align: center;
            font-weight: 600;
            font-size: 28px;
            line-height: 130%;
            color: #1B1D21;
            margin-bottom: 60px;
        }
    }
    &__list{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1.5%;
        h4{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
            color: #1B1D21;
            margin-bottom: 18px;
        }
        p{
            max-width: 260px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            text-align: center;
            color: #505864;          
        }
    }
    &__image{
        margin-bottom: 24px;
    }

    @media (max-width: 375px){
        &__list{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            margin-bottom: 40px;
            h4{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}