.HeaderButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 280px;
    width: 100%;
    .Buttons__auth{
        color: #274B90;
        background-color: #FEFEFE;
    }
    button{
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    @media (max-width: 910px) {
        max-width: none;
        width: auto;
    }
    @media (max-width: 680px) {
        display: none;
    }
}