.AuthInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    p{
        margin-bottom: 12px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    Input{
        padding: 0 11px;
        height: 44px;
        width: 100%;
        border: 1px solid #C7D6E3;
        border-radius: 8px;
    }
}