.Footer{
    background-color: #1B1D21;
    padding: 18px;
    color: #FFFFFF;
    flex: 0 0 auto;
    &__top{
        padding: 18px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C7D6E3;
    }
    &__bottom{
        padding: 18px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}