@font-face {
    font-family: 'Open Sans';
    src: url('../public/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../public/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../public/fonts/OpenSans-Bold.ttf') ;
    font-weight: 700;
}
@font-face {
    font-family: 'Rubik';
    src: url('../public/fonts/Rubik-SemiBold.ttf');
    font-weight: 600;
}

body{
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 24px;
    color: #1B1D21;
    background-color: #FFFFFF;
}