@import './fonts.css';
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Rubik';
  font-style: normal;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  font-family: inherit;
}
input{
  border: none;
  background-color: inherit;
  outline: none;
  font-family: inherit;
}